@import "../../mixins/mixin.scss";

.pagination {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  list-style: none;
  z-index: 9999;
  animation: pageSelectorIn .8s forwards .9s;

  li {
    position: relative;
    margin: 12px 0;
    background-color: #fff;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    transition: all 0.3s;
    opacity: 0.6;

    @include respond_to(mobile) {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.selectedPage {
  transform: scale(1.6);
  opacity: 1 !important;

}

.header-pagination {
  top: 0px;
  opacity: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  width: 80%;
  max-width: 1212.44px;
  height: 87px;
  max-height: 87px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);
  justify-content: center;
  animation: headerAnimationIn .8s forwards .6s;

  @include respond_to(small) {
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;

    &-logo {
      height: 70px;
      left: 16px;
      position: absolute;
    }

    &-links {
      display: flex;
      margin-right: 128px;

      &-h2 {
        cursor: pointer;
        color: #2e7e75;
        margin: 0 20px;
        font-weight: 400;
        font-size: 27px;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;

        &-hr {
          border: 0px solid #2e7e75;
          margin: 0;
          width: 0;
          transition: width 0.3s ease-in-out;
        }

        @include respond_to(medium) {
          margin: 0 15px;
        }
      }

      &-h2:hover {
        opacity: 1 !important;

        .header-pagination__container-links-h2-hr {
          border: 2px solid #2e7e75 !important;
          width: 100% !important;
        }
      }
    }
  }
}