@import "../../mixins/mixin.scss";

.home-shape {
  position: absolute;
  z-index: 99;
  right: -3px;
  bottom: 0;

  @include respond_to(medium) {
    width: 565.73px;
  }
}

.home-paws {
  position: absolute;
  bottom: 0;
  left: 0;

  @include respond_to(medium) {
    width: 170px;
  }
}

.home-container {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2baa9b;

  &__text {
    padding-left: 194px;
    padding-top: 64px;

    @include respond_to(medium) {
      padding-left: 146px;
    }

    &-h1 {
      font-family: "Roboto Bold";
      font-weight: Bold;
      font-size: 100px;
      margin: 0;
      opacity: 0;
      line-height: 100px;

      @include respond_to(medium) {
        line-height: 92px;
      }
    }

    &-h1-animated {
      font-family: "Roboto Bold";
      font-weight: Bold;
      font-size: 100px;
      margin: 0;
      opacity: 0;
      transform: translateX(-15%);
      line-height: 100px;
      animation: textAnimationIn 0.8s forwards ease-in-out 0.2s;

      @include respond_to(medium) {
        line-height: 92px;
      }
    }

    &-h2 {
      margin: 0;
      margin-top: 18px;
      font-size: 50px;
      font-weight: 300;

      @include respond_to(medium) {
        margin-top: 10px;
        font-size: 35px;
      }
    }
  }
}

@keyframes textAnimationIn {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes textAnimationOut {
  100% {
    opacity: 0;
    transform: translateX(-15%);
  }
}
