@import "../../mixins/mixin.scss";

.home-shape {
  position: absolute;
  z-index: 99;
  right: -3px;
  bottom: 0;

  @include respond_to(medium) {
    width: 565.73px;
  }

  @include respond_to(small) {
    display: none;
  }
}

.mobile-home-shape-down {
  display: none;

  @include respond_to(mobile) {
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
  }
}

.mobile-logo {
  display: none;

  @include respond_to(mobile) {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 70px;
    height: 70px;
  }
}

.mobile-logo-animateIn {
  opacity: 0;
  transform: translateX(-25%);
  animation: textAnimationIn 0.7s forwards 1s;

  @include respond_to(mobile) {
    animation: textAnimationIn 0.7s forwards .5s;
  }
}

.mobile-logo-animateOut {
  opacity: 1;
  transform: translateX(0%);
  animation: textAnimationOut 0.3s forwards 0.2s;
}

.home-paws {
  position: absolute;
  bottom: 0;
  left: 0;

  @include respond_to(medium) {
    width: 170px;
  }

  @include respond_to(mobile) {
    width: 100px;
  }
}

.home-container {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2baa9b;

  @include respond_to(mobile) {
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding-left: 194px;
    padding-top: 64px;

    @include respond_to(medium) {
      padding-left: 146px;
    }

    @include respond_to(mobile) {
      justify-content: center;
      text-align: center;
      padding: 0 10px;
      transform: translateY(-150px);
    }

    &-title {
      font-family: "Roboto Bold";
      font-weight: Bold;
      font-size: 100px;
      margin: 0;
      line-height: 100px;

      @include respond_to(medium) {
        line-height: 92px;
      }

      @include respond_to(mobile) {
        font-size: 60px;
        line-height: 65px;
      }
    }

    &-title-animateIn {
      opacity: 0;
      transform: translateX(-25%);
      animation: textAnimationIn 0.7s forwards 1s;

      @include respond_to(mobile) { 
        animation: textAnimationIn 0.7s forwards .5s;
      }
    }

    &-title-animateOut {
      opacity: 1;
      transform: translateX(0%);
      animation: textAnimationOut 0.3s forwards 0.2s;
    }

    &-subtitle {
      font-family: "Roboto Bold";
      font-weight: Bold;
      font-size: 100px;
      margin: 0;
      line-height: 100px;

      @include respond_to(medium) {
        line-height: 92px;
      }

      @include respond_to(mobile) {
        font-size: 60px;
        line-height: 40px;
      }
    }

    &-subtitle-animateIn {
      opacity: 0;
      transform: translateX(-25%);
      animation: textAnimationIn 0.7s forwards 1.2s;

      @include respond_to(mobile) {
        animation: textAnimationIn 0.7s forwards .7s;
      }
    }

    &-subtitle-animateOut {
      transform: translateX(0%);
      opacity: 1;
      animation: textAnimationOut 0.3s forwards 0.2s;
    }

    &-h2 {
      margin: 0;
      margin-top: 18px;
      font-size: 50px;
      font-weight: 300;

      @include respond_to(medium) {
        margin-top: 10px;
        font-size: 35px;
      }
    }

    &-h2-animateIn {
      opacity: 0;
      transform: translateX(-15%);
      animation: textAnimationIn 0.7s forwards 1.4s;

      @include respond_to(mobile) { 
        animation: textAnimationIn 0.7s forwards .9s;
      }
    }

    &-h2-animateOut {
      transform: translateX(0%);
      opacity: 1;
      animation: textAnimationOut 0.3s forwards 0.2s;
    }
  }
}
