@import "../../mixins/mixin.scss";

.mobile-menu {
  display: none;

  @include respond_to(mobile) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }

  &-shape-up {
    width: auto;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  &-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: pink;
  }
}

.shape-down-right {
  transition: opacity 0.3s ;
  display: none;

  @include respond_to(mobile) {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
  }
}

.shape-down-left {
  transition: opacity 0.3s ;
  display: none;

  @include respond_to(mobile) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
}