@import "../../mixins/mixin.scss";

.about-container {
  position: relative;
  height: 100vh;
  color: white;
  background-color: #2baa9b;
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
  align-items: center;
  justify-items: center;

  @include respond_to(small) {
    align-items: flex-start;
  }

  .about-section-divider {
    z-index: 99;
    position: absolute;
    left: 48%;
    top: 60%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    @include respond_to(medium) {
      height: 410px;
    }

    @include respond_to(small) {
      display: none;
    }
  }

  .about-section-mobile-divider {
    display: none;

    @include respond_to(mobile) {
      display: inline;
      align-self: center;
    }
  }

  &__texts {
    grid-column: 1/2;
    padding-top: 90px;
    padding-left: 35px;

    @include respond_to(medium) {
      padding-top: 110px;
    }

    @include respond_to(mobile) {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      padding-top: 30px;
    }

    &-h1 {
      font-size: 100px;
      margin: 0;

      @include respond_to(medium) {
        font-size: 80px;
      }

      @include respond_to(mobile) {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }

    &-h1-animateIn {
      transform: translateX(-25%);
      opacity: 0;
      animation: textAnimationIn 0.7s forwards 0.7s;

      @include respond_to(mobile) {
        animation: textAnimationIn 0.7s forwards 0.4s;
      }
    }

    &-h1-animateOut {
      transform: translateX(0%);
      opacity: 1;
      animation: textAnimationOut 0.3s forwards 0.2s;
    }

    &-h2-1 {
      font-size: 25px;
      font-weight: 300;
      width: 450px;
      margin: 10px 0;
      opacity: 0;

      @include respond_to(medium) {
        font-size: 22px;
        width: auto;
      }

      @include respond_to(mobile) {
        text-align: left;
        font-size: 27px;
        font-weight: 500;
        margin: 32px 32px;
      }
    }

    &-h2-1-animateIn {
      opacity: 0;
      transform: translateX(-25%);
      animation: textAnimationIn 0.7s forwards 0.9s;

      @include respond_to(mobile) {
        animation: textAnimationIn 0.7s forwards 0.6s;
      }
    }

    &-h2-1-animateOut {
      opacity: 1;
      transform: translateX(0%);
      animation: textAnimationOut 0.3s forwards 0.2s;
    }

    &-h2-2 {
      font-size: 25px;
      font-weight: 300;
      width: 450px;
      margin: 10px 0;

      @include respond_to(medium) {
        font-size: 22px;
        width: auto;
      }

      @include respond_to(mobile) {
        text-align: left;
        font-size: 27px;
        font-weight: 500;
        margin: 8px 32px;
      }
    }

    &-h2-2-animateIn {
      opacity: 0;
      transform: translateX(-25%);
      animation: textAnimationIn 0.7s forwards 0.8s;
    }

    &-h2-2-animateOut {
      opacity: 1;
      transform: translateX(0%);
      animation: textAnimationOut 0.3s forwards 0.2s;
    }

    &-h2-3 {
      font-size: 25px;
      font-weight: 300;
      width: 450px;
      margin: 10px 0;

      @include respond_to(medium) {
        font-size: 22px;
        width: auto;
      }

      @include respond_to(mobile) {
        text-align: left;
        font-size: 27px;
        font-weight: 500;
        margin: 32px 32px;
        display: none;
      }
    }

    &-h2-3-animateIn {
      opacity: 0;
      transform: translateX(-25%);
      animation: textAnimationIn 0.7s forwards 1s;
    }

    &-h2-3-animateOut {
      opacity: 1;
      transform: translateX(0%);
      animation: textAnimationOut 0.3s forwards 0.2s;
    }
  }

  &__images {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 90px;
    justify-items: center;
  
    @include respond_to(small) {
      display: none;
    }

    &-dog {
      width: 360px;
      align-self: center;
      grid-column: 2/3;
      grid-row: 1/3;

      @include respond_to(medium) {
        width: 300px;
      }
    }

    .dog-animateIn {
      transform: translateY(-72px);
      opacity: 0;
      animation: dogPhotoIn 0.7s forwards 0.8s;
    }

    .dog-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: dogPhotoOut 0.7s forwards 0.2s;
    }

    &-cat {
      width: 350px;
      align-self: center;
      grid-column: 1/2;
      grid-row: 1/3;

      @include respond_to(medium) {
        width: 300px;
      }
    }

    .cat-animateIn {
      transform: translateX(-72px);
      opacity: 0;
      animation: catPhotoIn 0.7s forwards 0.8s;
    }

    .cat-animateOut {
      transform: translateX(0px);
      opacity: 1;
      animation: catPhotoOut 0.7s forwards 0.2s;
    }
  }
}
