@import "../../mixins/mixin.scss";

.skills-container {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: white;

  @include respond_to(mobile) {
    background-color: #2baa9b;
  }

  &__title {
    position: absolute;
    top: 25%;

    @include respond_to(medium) {
      top: 22%;
    }

    @include respond_to(mobile) {
      top: 10%;
    }

    &-h1 {
      display: flex;
      align-items: center;
      font-size: 95px;
      font-weight: 600;
      color: #2baa9b;
      margin: 0;
      opacity: 0;
      transform: translateY(-64px);

      @include respond_to(medium) {
        font-size: 80px;
      }

      @include respond_to(mobile) {
        color: white;
        font-size: 40px;
        flex-direction: column-reverse;
      }

      img {
        @include respond_to(mobile) {
          width: 150px;
        }
      }
    }

    &-h1-animateIn {
      opacity: 0;
      transform: translateY(-64px);
      animation: skillsTitleIn 0.7s forwards 0.7s;

      @include respond_to(mobile) {
        animation: skillsTitleIn 0.7s forwards 0.4s;
      }
    }

    &-h1-animateOut {
      opacity: 1;
      transform: translateY(0px);
      animation: skillsTitleOut 0.7s forwards 0.2s;
    }
  }

  &__skills {
    display: flex;
    align-items: flex-end;
    padding-bottom: 56px;

    @include respond_to(mobile) {
      padding-bottom: 80px;
      display: none;
    }

    &__skill-1 {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        width: 250px;
        height: 250px;
      }

      @include respond_to(mobile) {
        display: none;
        width: 200px;
        height: 200px;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-1-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards 0.8s;

      @include respond_to(mobile) {
        animation: skillCardsIn 0.7s forwards 0.5s;
      }
    }

    .skill-1-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-1:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills__skill-1-image {
        transform: translateY(-80%);
      }
    }

    &__skill-2 {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin: 0 46px;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        width: 250px;
        height: 250px;
      }

      @include respond_to(mobile) {
        display: none;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-2-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards 0.9s;
    }

    .skill-2-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-2:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills__skill-2-image {
        transform: translateY(-80%);
      }
    }

    &__skill-3 {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        width: 250px;
        height: 250px;
      }

      @include respond_to(mobile) {
        display: none;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-3-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards 1s;
    }

    .skill-3-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-3:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills__skill-3-image {
        transform: translateY(-80%);
      }
    }

    &__skill-4 {
      margin: 0 46px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        width: 250px;
        height: 250px;
      }

      @include respond_to(mobile) {
        display: none;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-4-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards 1.1s;
    }

    .skill-4-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-4:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills__skill-4-image {
        transform: translateY(-80%);
      }
    }
  }

  &__skills-mobile {
    display: none;

    @include respond_to(mobile) {
      display: flex;
      align-items: center;
      padding-top: 128px;
    }

    &__skill-1 {
      opacity: 0;
      display: none;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        display: flex;
        width: 250px;
        height: 250px;
      }

      @include respond_to(mobile) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-1-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards .4s;
    }

    .skill-1-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-1:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills-mobile__skill-1-image {
        transform: translateY(-65%);
      }
    }

    &__skill-2 {
      opacity: 0;
      display: none;
      position: relative;
      align-items: center;
      justify-content: center;
      margin: 0 46px;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      @include respond_to(mobile) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-2-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards 0.4s;
    }

    .skill-2-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-2:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills-mobile__skill-2-image {
        transform: translateY(-65%);
      }
    }

    &__skill-3 {
      opacity: 0;
      display: none;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      @include respond_to(mobile) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-3-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards .4s;
    }

    .skill-3-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-3:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills-mobile__skill-3-image {
        transform: translateY(-65%);
      }
    }

    &__skill-4 {
      opacity: 0;
      display: none;
      margin: 0 46px;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #2baa9b;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      filter: brightness(70%);
      transition: all 0.2s;

      @include respond_to(medium) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      @include respond_to(mobile) {
        display: flex;
        width: 200px;
        height: 200px;
      }

      &-image {
        position: absolute;
        transition: all 0.2s;

        img {
          width: 100px;

          @include respond_to(medium) {
            width: 80px;
          }
        }
      }
    }

    .skill-4-animateIn {
      transform: translateY(60px);
      opacity: 0;
      animation: skillCardsIn 0.7s forwards .4s;
    }

    .skill-4-animateOut {
      transform: translateY(0px);
      opacity: 1;
      animation: skillCardsOut 0.7s forwards 0.2s;
    }

    &__skill-4:hover {
      filter: brightness(100%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.2);

      .skills-container__skills-mobile__skill-4-image {
        transform: translateY(-65%);
      }
    }
  }
}
