@import "./mixins/mixin.scss";
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@include font("Roboto Regular", "../fonts/Roboto-Regular");
@include font("Roboto Bold", "../fonts/Roboto-Bold");

body,
html {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="text"],
input[type="email"] {
  width: 456px;
  height: 42px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #2baa9b;
  color: #2baa9b;
  padding-left: 8px;
  font-size: 18px;

  @include respond_to(mobile) {
    width: auto;
    margin: 8px 12px !important;
  }
}

textarea {
  width: 453px;
  height: 115px;
  max-height: 115px;
  min-height: 115px;
  border-radius: 5px;
  resize: vertical;
  border: 1px solid #2baa9b;
  color: #2baa9b;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 18px;

  @include respond_to(medium) {
    max-height: 70px;
    min-height: 70px;
  }

  @include respond_to(mobile) {
    width: auto;
    margin: 8px 12px;
  }
}

input[type="email"]::placeholder {
  color: #2baa9b;
  font-family: "Roboto Regular";
  font-size: 18px;
}

input[type="text"]::placeholder {
  color: #2baa9b;
  font-family: "Roboto Regular";
  font-size: 18px;
}

textarea::placeholder {
  color: #2baa9b;
  font-family: "Roboto Regular";
  font-size: 18px;
}

/* SECTION - 1 */

@keyframes textAnimationIn {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes textAnimationOut {
  100% {
    opacity: 0;
    transform: translateX(-20%);
  }
}

@keyframes headerAnimationIn {
  100% {
    opacity: 1;
    top: 32px;
  }
}

@keyframes pageSelectorIn {
  100% {
    opacity: 1;
    right: 15px;
  }
}

/* SECTION - 2 */

@keyframes dogPhotoIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes dogPhotoOut {
  100% {
    transform: translateY(-72px);
    opacity: 0;
  }
}

@keyframes catPhotoIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes catPhotoOut {
  100% {
    transform: translateX(-72px);
    opacity: 0;
  }
}

/* SECTION - 3 */

@keyframes skillsTitleIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes skillsTitleOut {
  100% {
    transform: translateY(-64px);
    opacity: 0;
  }
}

@keyframes skillCardsIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes skillCardsOut {
  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}

/* SECTION - 4 */

@keyframes socialContainerIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes socialContainerOut {
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes formContainerIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes formContainerOut {
  100% {
    transform: translateX(-80px);
    opacity: 0;
  }
}

.news-enter {
  opacity: 0;
}

.news-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.news-exit {
  opacity: 1;
}

.news-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}